<?xml version="1.0"?>
<config>
	<modules>
		<Fsecommerce_Convertizer>
			<version>0.0.1</version>
		</Fsecommerce_Convertizer>
	</modules>
	<frontend>
        <routers>
            <fsecommerce_convertizer>
                <use>standard</use>
                <args>
                    <module>Fsecommerce_Convertizer</module>
                    <frontName>convertizer</frontName>
                </args>
            </fsecommerce_convertizer>
        </routers>
		<layout>
			<updates>
				<fsecommerce_convertizer>
					<file>fsecommerce_convertizer.xml</file>
				</fsecommerce_convertizer>
			</updates>
		</layout>
    </frontend>
	 <global>
        <helpers>
            <fsecommerce_convertizer>
                <class>Fsecommerce_Convertizer_Helper</class>
            </fsecommerce_convertizer>
        </helpers>
        <blocks>
            <fsecommerce_convertizer>
                <class>Fsecommerce_Convertizer_Block</class>
            </fsecommerce_convertizer>
        </blocks>
		<models>
            <fsecommerce_convertizer>
                <class>Fsecommerce_Convertizer_Model</class>
            </fsecommerce_convertizer>   
        </models>
    </global>
	<crontab>
        <jobs>
            <fsecommerce_convertizer>
                <schedule><cron_expr>*/60 * * * *</cron_expr></schedule>
                <run><model>fsecommerce_convertizer/feed::run</model></run>
            </fsecommerce_convertizer>
        </jobs>
    </crontab>
	<admin>
        <routers>
            <fsecommerce_convertizer>
            	<use>admin</use>
                <args>
                	<frontName>convertizer</frontName>
					<module>Fsecommerce_Convertizer</module>
                    <modules>
                        <Fsecommerce_Convertizer before="Mage_Adminhtml">Fsecommerce_Convertizer_Adminhtml</Fsecommerce_Convertizer>
                    </modules>
                </args>
            </fsecommerce_convertizer>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fsecommerce_convertizer>
                                            <title>Fsecommerce_Convertizer</title>
                                        </fsecommerce_convertizer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
